/* fallback */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v126/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2)
    format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}


header{
    padding: 5px 0px;
    border-bottom: 1px solid #dee2e6;
    background: white;
}
.o_main_navbar{
    padding: 0 10px;
}
body{
    font-size: 14px;
}
.navbar-chevron{
    font-size: 14px;
}
.navbar-avatar{
    height: 39px;
    width: 39px;
}
.navbar-dropdown{
    padding-left: 12px;
    padding-right: 4px;
}

// overiding
.o_main_navbar {
    background-color: unset ;
    border-bottom: none ;
}
.o_main_navbar .dropdown.show > .dropdown-toggle{
    color:black !important
}

.o_main_navbar .dropdown .dropdown-toggle:hover{
    background-color: unset;
    & * {
        font-weight: bold;
    }

}

.btn{
    border-radius: 2px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .03em;
    // display: flex;
    // align-items: center;
    // gap: 3px;
    &:before{
        font-weight: 100;
    }
}

.table-sm th, .table-sm td {
    padding-top: 16px;
    padding-bottom: 16px;
}

.datepicker,
.o_purchase_dashboard {
    .table-sm th, .table-sm td {
        padding: 0.3rem;
    }
}


//search input
.o_searchview .o_searchview_icon{
    top: 50%;
    transform: translateY(-50%);
    left: unset;
    bottom: unset;
    right: 14px;
}

.o_searchview{
    padding: 8px 16px;
    // border-radius: 0;
    padding-right: 37px;
    background-color: white;
    border: none;
    box-shadow: 0px 2px 1px -1px #00000000, 0px 1px 1px 0px #00000012, 0px 1px 3px 0px #00000017;
    border-radius: 2px;
}
.o_searchview_input{
    background-color: unset;
}
.o_searchview .o_searchview_input_container .o_searchview_autocomplete{
    top: 24px;
    border-radius: 0;
}
.o_searchview .o_searchview_input{
    padding: 0;
}
.o_menu_item{
    a{
        color: black;
    }
}
.breadcrumb{
    background-color: unset;
}

.o_action_manager{
    background-color: #F8F8F8;
}
.o_control_panel{
    background-color: unset;
}
.o_onboarding.o_onboarding_violet .o_onboarding_wrap{
    background: linear-gradient(337deg, #313268 0%, #3c3d91a3 100%)
}
.o_onboarding.o_onboarding_blue .o_onboarding_wrap{
    background: linear-gradient(337deg, #4c81cfc4 0%, #7bafffc7 100%);
}


.o_onboarding_step.o_onboarding_current .o_onboarding_dot{
    box-shadow: 0 2px 3px 0 #00000042 !important;
    background: #ffffffd9 !important;
}
.o_list_buttons{
    gap: 8px;
}

.badge{
    border-radius: 4px;
}
.o_main_navbar {
    .badge{
        border-radius: 10rem;
    }
}
.bg-danger-light{
    background-color: transparentize(#FF1D8A,0.8) !important;
    color: #FF1D8A;
}

.bg-success-light{
    background-color: transparentize(#79AEFF,0.8) !important;
    color: #79AEFF;
}
.bg-info-light{
    background-color: transparentize(#313268,0.8) !important;
    color: #313268;
}

.o_onboarding .o_onboarding_step .o_onboarding_progress{
    height: 2px;
    top: 9px;
}

.o_searchview .o_searchview_input_container .o_searchview_facet .o_searchview_facet_label{
    color: #6c757d;
    background-color: unset;
}

.o_searchview .o_searchview_input_container .o_searchview_facet{
    border: none;
    border-radius: 2px;
    overflow: hidden;
    padding-left: 3px;
}

//icons 

@mixin fontAwesome-to-googleIcons($icons) {
    
    @each $name, $code in $icons{
        .fa-#{$name}{
            font-family: "Material Icons" !important;
            &:before{
                content: $code !important;
                font-size: 1.5rem;
            }
        }
        .o_data_cell,
        .badge-pill,
        .o_ChatterTopbar_button,
        .btn-link{
            .fa-#{$name}{
                &:before{
                    font-size: revert;
                }
            }
        }

        .o_field_widget.o_field_many2manytags .o_tag_color_0{
            .fa-#{$name}{
                &:before{
                    font-size: 1.1rem;
                }
            }
        }
    }
}


$icons: (
    "times": "\e5cd",
    "remove": "\e5cd",
    "phone": "\e0b0",
    "video-camera": "\e04b",
    "user-plus": "\e7fe",
    "users": "\e7fb",
    "user": "\e7fd",
    "comments": "\e0bf",
    "clock-o": "\e8b5",
    "cog": "\e8b8",
    // "plus": "\e145",
    "inbox": "\e156",
    "history": "\e889",
    "calendar": "\e878",
    "desktop": "\e30c",
    "headphones": "\f01f",
    "microphone": "\e029",
    "microphone-slash": "\e02b", 
    "ellipsis-h": "\e5d3",
    "deaf": "\e33a",
    "arrows-alt": "\e5d0",
    "volume-up": "\e050",
    "table": "\e265",
    "bar-chart": "\e26b",
    "bar-chart-o": "\e26b",
    "area-chart": "\e6e1",
    "pie-chart": "\e6c4",
    "database": "\e1db",
    
    "list-ul": "\e241",
    "th-large": "\e9b0",
    "search": "\e8b6",
    "ellipsis-v": "\e5d4",
    "download": "\e2c4",
    "external-link": "\e89e",
    "pencil-square-o": "\e3c9",
    "save": "\e161",
);

@include fontAwesome-to-googleIcons($icons);


//online circle
.o_PartnerImStatusIcon_icon.o-online{
    color: #00A400;
}

//discuss input 
.o_Composer_toolButtons{
    border:none;
}
.o_Composer_textInput.o-has-current-partner-avatar.o-composer-is-compact{
    border:none;
    border-radius: 0;
}
.o_Composer_actionButton.o-last.o-has-current-partner-avatar.o-composer-is-compact{
    border-radius: 0;
}

//card
.o_kanban_view .o_kanban_record, .o_kanban_view .o_kanban_quick_create{
    border: none;
    box-shadow: 0px 2px 1px -1px #00000000, 0px 1px 1px 0px #00000012, 0px 1px 3px 0px #00000017;
    border-radius: 2px;
}
.o_kanban_group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.o_kanban_group .oe_kanban_card:first-of-type {
    background-color: #b14444 !important;
  }

.o_kanban_view .o_kanban_record .o_kanban_record_title{
    font-weight: revert;
}

.o_kanban_view .o_kanban_record.o_kanban_record_has_image_fill .o_kanban_image_fill_left{
    border-right: 0.5px solid #e3e3e3;
    border-radius: 2px 0px 0px 2px;
}



.o_main_navbar .dropdown-toggle{
    border-radius: 4px 4px 0px 0px;
}


// .o_main_navbar > :first-child{
//     margin-right:16px;
// }
.o_dropdown_button,
.o_datepicker_button{
    display: flex;
    right: 14px !important;
    &:after{
        margin: auto;
    }
}

.o_input{
    padding: 9px 14px;
    border: none;
    background-color: #f0f0f0 !important;
}
.o_input .o_input{
    padding: 0!important;
}
.o_input{
    .o_dropdown_button, .o_datepicker_button{
        right: 0px !important;
    }
}

.o_field_widget.o_field_many2manytags .o_tag_color_0{
    box-shadow: none;
    border: 1px solid #00000024;
}
.o_field_number,
select.o_field_widget.o_input{
    line-height: revert;
    padding: 12px 14px !important;
}




.o_required_modifier.o_input, .o_required_modifier .o_input{
    background-color: #f0f0f0 !important;
}

.modal-content{
    box-shadow: 0px 11px 15px -7px #00000033, 0px 24px 38px 3px #00000024, 0px 9px 46px 8px #0000001f !important;
    border-radius: 4px !important;
    border: none !important;
}

.o_form_view .o_form_sheet_bg{
    background: #f8f8f8;
}

.o_form_sheet{
    border-radius: 4px !important;
    border: none !important;
}




.o_list_view tbody > tr.o_group_header{
    background: white !important;
    &:hover{
        background: #f1f1f1 !important;
    }
}


.o_mail_systray_item .o_notification_counter{
    margin-bottom: 0px;
    padding: 2px 5px;
}

.o_MessagingMenu_counter{
    color: white;
    padding: 2px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

a{
    color:#313267;
    &:hover{
        color: #2f31b6;
    }
}


.o_main_navbar .o_menu_brand {
    padding-left: 16px;
}

.o_kanban_muted_record {
    border-radius: 2px;
}


//navbar.scss
.o_main_navbar {
    overflow:hidden;
    background-color: unset;

    %-main-navbar-entry-base {
        @include o-hover-text-color(rgba(black, .9), black);
    }
}

//user_menu.scss
.o_user_menu {
    .o_user_avatar {
      margin: 0px 5px;
    }
  }



.o_field_widget {
    // Many2one
    &.o_field_many2one .o_external_button {
        
        color: #303167;
    }
}


.oe_button_box {
    .oe_stat_button {
        .o_button_icon {
            color: #303167 !important;
        }
    }
}


.o_menu_brand{
    font-weight: bold !important;
    color: #3b3b3b !important;
    &:hover{
        color: black;
    }
}


.o_kanban_card_content{
    img{
        border-radius: 2px;
    }
}